<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Emergency Contact</title>
    <a href="/">home</a>
  </head>
  <body>
    <h1>Add Emergency Contact</h1>
    <hr />
    <form action="add-emercontact" method="post">
      <p>StudentID</p>
      <input type="number" name="studentid" placeholder="StudentID" />
      <p>First Name</p>
      <input type="text" name="fname" placeholder="First Name" />
      <p>Last Name</p>
      <input type="text" name="lname" placeholder="Last Name" />
      <p>Zipcode</p>
      <input type="number" name="zipcode" placeholder="Zipcode" />
      <p>Street Address</p>
      <input type="text" name="street_address" placeholder="Street Address" />
      <p>City</p>
      <input type="text" name="city" placeholder="City" />
      <p>State</p>
      <input type="text" name="state" placeholder="State" />
      <p>Email</p>
      <input type="text" name="email" placeholder="Email" />
      <p>Phone Number</p>
      <input type="tel" name="pnumber" placeholder="Phone Number" />
      <hr />
      <input type="submit" />
    </form>
    <p>{{result}}</p>
  </body>
</html>
