<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Modify Member</title>
    <a href="/">home</a>
  </head>
  <body>
    <h1>Modify Member</h1>
    <hr />
    <a href="/mod-active">Modify Active</a>
    <br />
    <a href="/add-emercontact">Add Emergency Contact</a>
    <br />
    <a href="/mod-emercontact">Modify Emergency Contact</a>
    <br />
    <a href="/mod-studyhours">Modify Studyhours</a>
    <br />
    <a href="/assignfine">Give Fine</a>
  </body>
</html>
